<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @booking.user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @booking.slot_id%>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>


<% puts @booking.inspect %>
