<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @advisor.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @advisor.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @advisor.end_time %>
</p>

<%= link_to 'Edit', edit_advisor_path(@advisor) %> |
<%= link_to 'Back', advisors_path %>
